header.main {
  display: grid;
  grid-template-columns: 14% 16% 40% 30%;;
  width: 100%;
  padding: var(--margin);

}

header.main nav h2 {
  margin: 0;
  text-align: right;
  font-size: 20px;
  align-self: center;
  width: max-content;
}

header.main .logo {
  font-size: 32px;
  align-self: center;
}

header.main nav {
  justify-self: center;
  display: flex;
  gap: 0.5rem;
}

header.main nav button {
  display: inline-block;
  margin: 0 5px;
}

header button {
  justify-self: center;
}

header .nav02 {
  display: inline-flex;
  grid-row: 1;
  grid-column: 4;
}